.main_admin{
    display: flex;
    width: 90%;
    margin: 7vh auto;
    flex-flow: row wrap;
    /* position: absolute; */
}

.main_product{
    width: 100vw;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.6);
    position: absolute;
    opacity: 10;
    display: none;
}

.button_main{
width: 100vw;
height: 94vh;
background-color: #ef476f;
position: absolute;
}

.main_buttons{
width:30%;
height: 70%;
margin-left:13%;
margin-top: 6%;
background-color: #073b4c;
color:white;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
border-width: 4px;
border-style: solid;
border-color: white;
transition: transform .2s;
cursor: pointer;
}

.main_buttons:hover{
    transform: scale(1.07);
    border-radius: 2%;
    box-shadow: 0 3px 6px 0 rgba(247, 247, 247, 0.918), 0 4px 15px 0 rgba(255, 255, 255, 0.979);
}

.buttons{

width: 40%;
height: 40%;
background-color: #ffd166d7;
margin-left: 28%;
margin-top: 10%;
border-radius: 5px;
border-width: 4px;
border-style: solid;
border-color: rgb(5, 5, 5);
}



.main_product.visible{
    display:block;
}

.close{
color:white;
position:absolute;
font-size: 40px;
margin-left: 68%;
margin-top: 1.5%;
/* font-weight: 600; */
cursor: pointer;
}


.Admin_Display{
 border-width: 0.5px;
border-style: solid;
width: 18%;
min-width: 250px;
max-width: 300px;
height: 50%;
background-color: rgb(255, 255, 255);
margin-top: 3%;
margin-left: 5%;
text-align: center;
transition: transform .2s;
/* position: absolute; */
}

.Admin_Display:hover{
    transform: scale(1.04);
    border-radius: 2%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.image{
    width: 90%;
    height: 50%;
    padding-top: 7%;
}
.label{
 width: 50%;
height: 10%;
padding-left:10%;
padding-right: 5%;
margin-top: 2%;
font-size: 20px;
font-weight: 600;
color:#293241;
}

.add_product{
width: 40vw;
height: 60vh;
margin-left: 28%;
background-color:#98c1d9;
margin-top: 5%;
position: absolute;
padding-top: 2%;
box-shadow: inset;
}

.product_prop{
    width: 70%;
    height: 8%;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-top: 1%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #e0fbfc;


    /* color: white; */
}

.product_prop:focus{
    transform: scale(1.04);
    border-radius: 2%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.button{
    background-color: #2287c25b;
    border-radius: 5px;
    /* border:none; */
    width:24%;
    height: 12%;
    font-size: 17px;
    font-weight: 600;
    border-radius: 2%;
    margin-left: 10%;
    margin-top: 2%;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.04);
    border-radius: 2%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
